.titlebarabout {
    height: 140px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
    float: left;

}

.titlebarabout .underline {
    height: 4px;
    width: 120px;
    background-color: #e31b6d;
}

#skills {
    background-color: transparent;
    min-height: 100vh;
    float: left;
}

#titlecontent {
    background-color: transparent;
    min-height: 100vh;
    display: block;
}

#aboutcontent {
    font-family: "Lucida sans";
    font-size: 20px;
    color: rgb(55, 55, 82);
    font-weight: 600;
    display: flex;
}

#passion {
    float: left;
    font-family: "Ralewaybold";
    font-size: 60px;
    min-height: 100vh;
    padding-top: 100px;
    text-align: justify;
    background-color: transparent;
    color: rgb(53, 0, 37);
}



#box2 {
    display: flex;
    float: left;   
    flex-direction: column;
}