#navbar {
    height: 50px;
    width: 100%;
    background-color: rgb(41, 28, 53);
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(20, 143, 214);
    padding-right: 5px;
/*    overflow: hidden;*/

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.nonsticky {
    position: absolute;
    top: 100vh;
}  

#navbar a {

    height: 50px;
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-size: 16px;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.5s;    
    color: white;
    background-color: rgb(36, 32, 39);
}

#navbar a:hover {
    color: #e31b6d;
}

.activetab {
    color: #e31b6d;
}

.inactivetab {
    color: white;
}

#menu {
    height: 47px;
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: transparent;
    border-style: none;
    z-index: 5;
}

#menu:active, #menu:focus {
    outline-style: none;
}

#navbar i {
    font-size: 30px;
    color: white;
}

#allnavitems {
    display: block;
    justify-content: flex-end;
    align-items: center;
    height: 0px;
    min-width: 100%;
    position: absolute;
    top: 50px;
    overflow: hidden;
    transition: height 0.5s;
    
}

  