* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    /*for div1*/
    .hello {font-size: 22px;}
    .viewwork {font-size: 20px;}
    .viewbutton {   width: 180px;
                    height: 36px; }
    .secondline {   padding-bottom: 14px;}
   
    /*for nav*/
    
}

@media only screen and (max-width: 700px) {
    .boxes li:nth-child(2),
    .boxes li:nth-child(4),
    .boxes li:nth-child(6),
    .boxes li:nth-child(8) {display: none;}  
}    



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    /*for div1*/
    .hello {font-size: 32px;}
    .viewwork {font-size: 27px;}
    .viewbutton {   width: 240px;
                    height: 48px; }
    .secondline {   padding-bottom: 19px;}


    /*for nav*/
    #navbar #menu {display: none;}
    #navbar {padding-right: 0px}
    #navbar a{background-color: transparent;}
    #allnavitems a{display: flex; justify-content: center; align-items: center;}
    #allnavitems {display: flex; position: static; top: 0; height: 50px; transition: none;}

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    /*for div1*/
    .hello {font-size: 40px;}
    .viewwork {font-size: 33px;}
    .viewbutton {   width: 300px;
                    height: 60px; }
    .secondline {   padding-bottom: 24px;}

    /* for nav*/
    #navbar a{padding: 0 40px 0 40px;}
}

    
    